@model IEnumerable<goida.Models.Message>
@using System.Linq 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
</head>
<body>
<div class="chat-container">
    <form method="post" action="/Chat/SendMessage" class="mb-3">
        <div class="input-group">
            <input type="text" name="messageContent" class="form-control" placeholder="Введите ваше сообщение" required />
            <div class="input-group-append">
                <button class="btn btn-dark" type="submit"><i class="fas fa-paper-plane"></i> Отправить</button>
            </div>
        </div>
    </form>

    <div class="chat-messages">
        @if (Model != null && Model.Any())
        {
            foreach (var message in Model.OrderByDescending(m => m.Time))
            {
                <div class="message @(message.UserName == "YourUsername" ? "sender" : "receiver")">
                    <strong><a class="username" href="/user/@message.UserId">@message.UserName</a></strong>: @message.Content
                    <div class="message-time"><em>(@message.Time)</em></div>
                </div>
            }
        }
        else
        {
            <div class="message text-center">Пока нет сообщений</div>
        }
    </div>
</div>

<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</body>
</html>
