@{
	ViewData["Title"] = "Set u name";
}
<h1 class="text-center">Enter Name</h1>

<form method="post" action="/Chat/SaveUserName">
	<div class="form-group">
		<input type="text" name="name" class="form-control" placeholder="Enter your name" required/>
	</div>
	<button type="submit" class="btn btn-primary btn-block">Save Name</button>

</form>