@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form method="post">
    <div class="form-group">
        <label for="Nickname">Nickname</label>
        <input type="text" class="form-control" id="Nickname" name="Nickname" required />
    </div>
    <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" class="form-control" id="Password" name="Password" required />
    </div>
    <button type="submit" class="btn btn-dark">Login</button>
</form>

<div class="mt-3">
    <p>Don't have an account? <a href="/Account/Register" class="btn btn-link">Register here</a></p>
</div>