/* Оставляем цвета навбара и другие элементы */
html {
  height: 100%;
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  height: 100%;
  background-color: #010409; 
  color: #4292f0; 
  border-color: #58a6ff;
}


.navbar {
  background-color: #010409 !important;
}

.navbar .navbar-brand,
.navbar .nav-link {
  color: #c9d1d9; 
}

.navbar .nav-link:hover {
  color: #58a6ff; 
}


.chat-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}


.message {
  margin-bottom: 15px;
  padding: 15px 20px;
  border-radius: 10px;
  position: relative;
  animation: fadeIn 0.3s ease-in-out;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.message.sender {
  background: linear-gradient(135deg, #1f6feb, #007bff); 
  color: white;
  text-align: right;
}

.message.receiver {
  background-color: rgba(255, 255, 255, 0.1); 
  color: #c9d1d9;
  text-align: left;
}


.message-time {
  font-size: 0.7em;
  position: absolute;
  bottom: 5px;
  right: 15px;
  color: rgba(255, 255, 255, 0.6); 
}


.username {
  color: #58a6ff;
  text-decoration: none;
}

.username:hover {
  text-decoration: underline;
}


@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}


.form-control {
  background-color: #010409; 
  color: #c9d1d9; 
  border: 1px solid #58a6ff;
}

.form-control:focus {
  background-color: #010409; 
  border-color: #58a6ff; 
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 255, 0.25);
  color: #c9d1d9;
}

/* Ошибки */
.text-danger {
  color: #ff4d4f;
}
.card-body {
  background-color: #010409; 
  padding: 20px; 
  color: #c9d1d9;
  border: none; 
  box-shadow: none;
}

.card-body h5 {
  color: #58a6ff; 
  margin-bottom: 15px;
}

.card-body p {
  color: #c9d1d9; 
  line-height: 1.6;
}

.card-body a {
  color: #58a6ff; 
  text-decoration: none;
}

.card-body a:hover {
  text-decoration: underline;
}

.delete-icon {
  position: absolute;
  top: -5px;
  right: -5px;
  cursor: pointer;
  color: #dc3545;
  font-size: 12px;
  outline: none;
}
.delete-icon:focus {
  outline: none;
}
.delete-icon:hover {
  color: #a71d2a;
}
